:root {
    /*--clr-bg: #461a32;*/
    /*--clr-screen: #c51350;*/
    /*--clr-btn: #fda403;*/
    /*--clr-btn-sh: #e8751a;*/
    /*--clr-btn-hover: #ffbd49;*/
    --clr-bg: #f6eedf;
    --clr-screen: #f68862;
    --clr-btn: #eebc5c;
    --clr-btn-sh: #c29235;
    --clr-btn-hover: #ffd17b;

}
body {
    width: 100vw;
    height: 100vh;
    background-color: var(--clr-bg);
}
.row {
    display: flex;
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
}
.calculator {
    position: relative;
    text-align: center;
    width: 406px;
    height: 456px;
    left: 20%;
}
.buttons {
    position: relative;
    display: grid;
    width: 420px;
    height: 330px;
    margin-top: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 1px;

}

.screen {
    display: flex;
    width: 406px;
    height: 120px;
    border-radius: 0.5rem;
    background-color: var(--clr-screen);
    box-shadow: #e0683d 4px 4px 1px 2px;
    justify-content: end;
    align-items: flex-end;

    font-size: 2.5rem;
    font-weight: bolder;
    font-family: 'JetBrains Mono', monospace;

}
.screen p {
    margin: 1.5rem;
}


.button {
    display: flex;
    width: 90px;
    height: 50px;
    background-color: var(--clr-btn);
    box-shadow: var(--clr-btn-sh) 4px 4px 1px 2px;
    border-radius: 0.5em;
    /*border-bottom-left-radius: 0.7rem;*/
    /*border-bottom-right-radius: 0.5rem;*/
    /*border-top-left-radius: 0.5rem;*/
    /*border-top-right-radius: 0.7rem;*/
    font-size: 1.1rem;
    font-family: 'JetBrains Mono', monospace;
    font-weight: bolder;
    text-align: center;
    justify-content: center;
    align-items: center;
    /*303234*/
    /*3b3c3f*/
    /*455d7a*/
}
.button:hover {
    background-color: var(--clr-btn-hover);
}
.button:active {
    position: relative;
    background-color: var(--clr-btn-hover);
    top: 4px;
    left: 3px;
    box-shadow: var(--clr-btn-sh) 2px 2px 1px 1px;
}

#plus {
    height: 117px;
    background-color: #7db000;
    grid-row: span 2; !important;
    box-shadow: #64850e 4px 4px 1px 2px;
}
#plus:hover {
    background-color: #a6d32d;
}
#plus:active {
    box-shadow: #64850e 2px 2px 1px 1px;
}
#clear{
    width: 195px;
    background-color: #ff5151;
    grid-column: span 2; !important;
    box-shadow: #c03939 4px 4px 1px 2px;
}
#clear:hover {
    background-color: #ff7272;
}
#clear:active {
    box-shadow: #c03939 2px 2px 1px 1px;
}
#equal{
    background-color: #59c2e1;
    box-shadow: #3ca0be 4px 4px 1px 2px;
}
#equal:hover{
    background-color: #74d2ee;
}
#equal:active{
    box-shadow: #3ca0be 2px 2px 1px 1px;
}
.rightDiv{
    position: relative;
    display: grid;
    width: 420px;
    height: 200px;
    left: 20%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1px;
}
#calculator_t {
    width: 406px;
    grid-column: span 4; !important;
}










